<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.his_20184861.mapper.KaiYaoMapper">

    <select id="getSubmitPrescription" resultType="Prescription">
        select * from prescription_template_detail where PreID = (
        select PreID from prescription_template where PreName = #{pre_name}
        );
    </select>


    <select id="getID" resultType="int">
        select MAX(ID) from patientprescriptiondetail;
    </select>


    <select id="writeToPatientPrescriptionDetail">
        insert into patientprescriptiondetail
        values
        (#{id},#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9},#{10},#{11},#{12},#{13});

    </select>



</mapper>